# Integrations / Providers
SIEM_PROVIDER=wazuh
CASE_MANAGEMENT_PROVIDER=thehive
ENRICHMENT_PROVIDER=cortex
SOAR_PROVIDER=dummy
ENDPOINT_PROVIDER=wazuh
FIREWALL_PROVIDER=dummy
IAM_PROVIDER=dummy

# SOC Tools Integration
THEHIVE_URL=http://localhost:9000
THEHIVE_API_KEY=YOUR_THEHIVE_API_KEY
THEHIVE_ORGANISATION=asdg

CORTEX_URL=http://localhost:9001
CORTEX_API_KEY=YOUR_CORTEX_API_KEY
CORTEX_IP_ANALYZERS=VirusTotal_GetReport_3_1,AbuseIPDB_2_0
CORTEX_FILE_ANALYZERS=VirusTotal_GetReport_3_1
CORTEX_DOMAIN_ANALYZERS=VirusTotal_GetReport_3_1

WAZUH_API_URL=https://localhost:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=wazuh-wui
WAZUH_API_VERIFY_SSL=false

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USER=admin
ELASTICSEARCH_PASSWORD=admin

# Core Settings
AGENTIX_LOG_LEVEL=DEBUG
FASTMCP_TRANSPORT=sse
FASTMCP_PORT=8081
